<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        {% comment %} <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> {% endcomment %}
        <small class="d-block mb-3 text-muted">&copy; BackendERP 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Code</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/falconsoft3d/backenderp">Git Repository</a></li>
          <li><a class="text-muted" href="https://github.com/falconsoft3d/backenderp/issues">Bugs</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>API</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Documentation</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>